---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import { ABOUT } from "@consts"

const collection = await getCollection("work")

collection.sort((a, b) => new Date(b.data.dateStart).getTime() - new Date(a.data.dateStart).getTime())

const work = await Promise.all(
  collection.map(async (item) => {
    const { Content } = await item.render()
    return { ...item, Content }
  })
)

function formatWorkDate(input: Date | string) {
  if (typeof input === "string") return input

  const month = input.toLocaleDateString("en-US", {
    month: "short",
  })

  const year = new Date(input).getFullYear()
  return `${month} ${year}`
}
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {ABOUT.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <p>同志社大学SF研究会は1970年創部のSF好きが集まるサークルです。月に1回くらいの頻度で読書会や映画の上映会を行っています。</p>
    <p>部室
        今出川: 新町学生会館316
        京田辺: 京田辺別館308
    </p>
      <p><a href="https://twitter.com/DoshishaSFA">公式Xアカウント</a></p>
      <p><a href="https://www.d-live.info/club/culture/1163">Dlive(サークル情報)</a></p>
      <p><a href="https://twitter.com/DSFAdoshisha">予備Xアカウント</a></p>
    </p>
  </BottomLayout>
</PageLayout>
